---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";
import "@/styles/blob.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en">
	<SEOTags {...headTags} />
	<body class="text-sm text-neutral-700 bg-neutral-200 overscroll-none">
		<div id="blob"></div>
		<div
			id="blur"
			class="min-h-screen px-10 py-8 md:py-16 flex justify-center"
		>
			<div class="flex-1 max-w-[872px] flex flex-col gap-9 md:gap-20">
				<Header />
				<slot />
			</div>
		</div>
		<script>
			if (typeof window !== "undefined") {
				const blob = document.getElementById("blob");

				window.onpointermove = (event) => {
					const { clientX, clientY } = event;
					blob?.animate(
						{
							left: `${clientX}px`,
							top: `${clientY}px`,
						},
						{ duration: 20000, fill: "forwards" }
					);
				};
			}
		</script>
	</body>
</html>
